<!DOCTYPE html>
<html>
  <head>
    <title>Confa Run Result</title>
    <style>
      .node .value {
        margin-left: 20px;
        display: none;
      }
      .open {
        display: block;
      }

      .parent::before {
        content: "▶";
        margin-right: 5px;
        cursor: pointer;
      }
      .parent.open::before {
        content: "▼";
      }
    </style>
  </head>
  <body>
    <h1>Confa Run : {{data.name}}</h1>
    <ul>
      {% macro render_flow(flow) %}
      <div {% if flow.result or flow.error %} onclick="node(this)" {% endif %}>
        <h5 class="parent {% if flow.flows %} open{% endif %}">
          {{ flow.name }}
        </h5>
        {% if flow.cmd %}
        <pre>$ {{flow.cmd}}</pre>
        {% endif%} {% if flow.result %}
        <pre class="value">{{flow.result}}</pre>
        {% endif%} {% if flow.error %}
        <pre class="value">{{flow.error}}</pre>
        {% endif%} {% if flow.flows %}
        <ul class="node open">
          {% for subflow in flow.flows %} {{ render_flow(subflow) }} {% endfor
          %}
        </ul>
      </div>
      {% endif %} {% endmacro %} {{ render_flow(data) }}
    </ul>
    <script>
      function node(self) {
        self.getElementsByClassName("value")[0].style.display = "block";
      }
    </script>
  </body>
</html>
